.main-container {
  display: flex;
  flex-direction: row;
}

.diagram-container {
  position: fixed;
  padding-left: 2.5em;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 3em;
  width: 93%;
}

.diagram {
  padding-left: 5em;
  width: 65%;
}
