.st0 {
  fill: #ffffff;
}
.st1 {
  fill: #da521f;
}
.st2 {
  font-family: "Gilroy-Bold";
}
.st3 {
  font-size: 12px;
}
.st4 {
  fill: none;
}
.st5 {
  font-family: "Gilroy-ExtraBold";
}
.st6 {
  font-family: "Gilroy-Regular";
}
.st7 {
  font-size: 14px;
}
.st8 {
  font-size: 10px;
}
.st9 {
  letter-spacing: 2;
}
.st10 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.4267;
}
.st11 {
  fill: none;
  stroke: #da521f;
  stroke-width: 0.4309;
}
