body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Gilroy";
  src: url(./Assets/Fonts/GilroyMedium/normal_normal.woff) format("woff");
}
@font-face {
  font-family: "Gilroy Bold";
  src: url(./Assets//Fonts/GilroyBold/normal_normal.woff) format("woff");
}
@font-face {
  font-family: "Gilroy Italic";
  src: url(./Assets/Fonts/GilroyMediumItalic/italic_normal.woff) format("woff");
}
@font-face {
  font-family: "Gilroy Extra Bold";
  src: url(./Assets/Fonts/GilroyExtraBold/normal_normal.woff) format("woff");
}
@font-face {
  font-family: "Gilroy Black";
  src: url(./Assets/Fonts/GilroyBlack/normal_normal.woff) format("woff");
}
@font-face {
  font-family: "Gilroy Medium";
  src: url(./Assets/Fonts/GilroyMedium/normal_normal.woff) format("woff");
}
@font-face {
  font-family: "MinionProMedium";
  src: url(./Assets/Fonts/minion-pro/MinionProMedium.ttf) format("truetype");
}
